<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>聊天机器人示例</title>
<style>
    .user-message {
        text-align: right;
        background-color: #dcdcdc;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }

    .bot-message {
        text-align: left;
        background-color: #afeeee;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }

    .chat-history {
        border: 1px solid #000;
        overflow-y: scroll;
        height: 300px; /* 根据需要调整高度 */
        margin-bottom: 10px;
    }
    .sentiment-analysis {
    text-align: center;
    background-color: #ffcccb; /* 淡红色背景 */
    font-style: italic;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}
    #queryText {
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
    }

    #sendButton {
        width: 100%;
        height: 50px;
    }
</style>
</head>
<body>

<div id="chatHistory" class="chat-history"></div>
<textarea id="queryText" placeholder="请输入你的消息"></textarea>
<button id="sendButton">发送</button>
<!-- 情感分析结果区域 -->
<!-- GPT模型选择 -->
<label for="modelSelect">选择GPT模型:</label>
<select id="modelSelect">
    
    <option value="gpt-3.5-turbo-16k">GPT-3.5 Turbo 16K</option>
    <!-- 添加模型gpt-4，gpt-4-1106-preview ，gpt-4-turbo-preview，claude-3-haiku-20240307，claude-3-sonnet-20240229，claude-3-opus-20240229-->
    <option value="gpt-4">GPT-4</option>
    <option value="gpt-4-1106-preview">GPT-4-1106-preview</option>
    <option value="gpt-4-turbo-preview">GPT-4-turbo-preview</option>
    <option value="claude-3-haiku-20240307">claude-3-haiku-20240307</option>
    <option value="claude-3-sonnet-20240229">claude-3-sonnet-20240229</option>
    <option value="claude-3-opus-20240229">claude-3-opus-20240229</option>

    <!-- 在这里添加其他模型选项 -->
</select>
<div id="sentimentResult" style="display:none;" class="sentiment-analysis">
    <p id="sentimentText">情感分析结果: 无</p>
</div>

<script>

        // 在这里插入前端JavaScript代码，该代码如下：
        var currentSessionId = '';
        var conversationHistory = []; // 全局变量保存对话历史
        function updateChatHistory(userMessage, botReplies) {//更新聊天记录
            var chatHistory = document.getElementById('chatHistory');//获取聊天记录的元素
            if (userMessage) {//如果用户消息不为空
                var userDiv = document.createElement('div');//创建用户消息的div元素
                userDiv.textContent = '你: ' + userMessage;//设置文本内容
                userDiv.className = 'user-message';//设置类名
                chatHistory.appendChild(userDiv);//添加到聊天记录元素中
                conversationHistory.push({role:'user', content:userMessage})
            }//创建用户消息的div元素，设置文本内容，设置类名，添加到聊天记录元素中
            botReplies.forEach(botMessage => {//遍历机器人回复
                var botDiv = document.createElement('div');//创建机器人消息的div元素
                botDiv.textContent = '机器人: ' + botMessage;//设置文本内容
                botDiv.className = 'bot-message';//设置类名
                chatHistory.appendChild(botDiv);//添加到聊天记录元素中
                conversationHistory.push({role:'bot', content:botMessage})
            });
            chatHistory.scrollTop = chatHistory.scrollHeight;//滚动到底部
        }

        function sendMessage() {
            var queryText = document.getElementById('queryText').value;//获取用户输入的消息
            
            updateChatHistory(queryText, []);//更新聊天记录
            fetch('/chat_with_baidu_unit/', {//发送请求
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    queryText: queryText,
                    sessionId: currentSessionId
                })
            })
            .then(response => response.json())
            .then(data => {//处理响应
                if (data && data.data) {
                    if (data.data.sessionId) {
                        currentSessionId = data.data.sessionId;
                    }
                    var botReplies = data.data.answer
                        .filter(a => a.reply !== null)
                        .map(a => a.reply.text);
                    //更新聊天记录
                    updateChatHistory(null, botReplies);

                    //将整段对话发给gpt进行情感分析
                    sendToGptAnalysis();
                } else {
                    updateChatHistory(null, ['收到意外的响应结构。']);
                }
            })
            .catch(error => {
                updateChatHistory(null, ['请求过程中出现错误。']);
                console.error('Error during fetch:', error);
            });
            

            
            document.getElementById('queryText').value = '';
        }

        document.getElementById('sendButton').addEventListener('click', sendMessage);

        function getCookie(name) {//获取cookie
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // ...

        function addDefaultBotMessage() {
            var defaultMessages = ['尊敬的用户您好，很高兴为您服务！我是电力AI小助理。您可以对我说查停电信息'];
            updateChatHistory(null, defaultMessages);
        }

        // ...

        document.addEventListener('DOMContentLoaded', function() {
            addDefaultBotMessage(); // 页面载入完成后添加默认机器人消息
            document.getElementById('sendButton').addEventListener('click', sendMessage);
        });

        // ...
        
        
        function sendToGptAnalysis() {
            var selectedModel = document.getElementById('modelSelect').value; // 获取选中的模型
            fetch('/chat_with_gpt/', { // 假设这是发送给GPT进行情感分析的后端URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 添加其他需要的headers
                },
                body: JSON.stringify({
                    message: conversationHistory, // 假设后端接收的字段是message
                    selectedModel: selectedModel // 传递选中的模型
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('GPT 情感分析结果:', data);
                if (data.response) {
                    displayGptSentimentAnalysis(data.response); // 显示情感分析结果
                }
            })
            .catch(error => {
                console.error('GPT 情感分析请求失败:', error);
            });
        }


        
        function displayGptSentimentAnalysis(sentiment) {
            var sentimentResultDiv = document.getElementById('sentimentResult');
            var sentimentTextP = document.getElementById('sentimentText');
            sentimentTextP.textContent = '情感分析结果: ' + sentiment;
            sentimentResultDiv.style.display = 'block'; // 显示情感分析结果区域
        }


</script>

</body>
</html>